 
 @import "./main__colors";

 @mixin main__bodyIpad{
    width: 100%;
    height: 100%;
    margin: 0;
    margin-right: 0;
    margin-left: 0;
    overflow-x: hidden;

    .main__header-menuModal-deskTope-contact{
        display: none;
    }

.destTope-Contain{
    margin-right: 0px;
}

    .main__body-title-container{
        display: flex;
        align-items: center;
        margin-top: 30px;
        height: 40px;

        .main__body-title{
            display: flex;
            align-items: center;
            gap: 10px;
            font-family: "TT Lakes Neue Trial";
            color: $titleColor;
            font-size: 30px;
            line-height: 40px;
            letter-spacing: -0.6000000238418579px;
            text-align: left;
            font-weight: 800;
            // margin-left: 16px;


        }
        .deskTope-header-icons{
            display: none;
        }
    }

    // ############################################## swiper 1 ####################################################

    .swiper-container{
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        margin-top: 44px;
    .swiper-wrapper {
        // width: 100%;
        display: flex;
        .swiper-style-styleTwo{
            display: none;
        }
.swiper-slide{
    &.swiper-style{
        display: flex;
        justify-content: center;  
        align-items: center;
        width: 180px !important;
        height: 40px;
        margin-left: 10px;
        font-family: "TT Lakes Neue Trial";
        font-size: 15px;
        line-height: 24px;
        letter-spacing: -0.20000000298023224px;
        text-align: left;
        color: $swiperColor;
        white-space: nowrap;
    }    
    }

.swiperOne-style{
            width: 238px !important;
            display: flex;
            justify-content: center;  
            align-items: center;
            background-color: $backgColor;
            color: $swiperColor;
            font-family: "TT Lakes Neue Trial";
            height: 40px;
            margin-left: 16px;
            border-radius: 6px;
            border: $swiperFocusBorder;
            white-space: nowrap;

            p{
            padding: 10px;
            }
        }
    
    }
    .swiper-pagination{
        display: none !important;
    }
}
.main__body-text-container, .swiper-style-deskText, .main__body-brendText-DeskTope-container{
    display: none;
}
.main__body-logoPicture{
    display: none;
}
.main__body-brendText-container{
    display: none;
}
        .main__body-IpadContainer{
        display: flex;
        margin-top: 40px;
        .main__body-text-Ipadcontainer{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;

            .main__body-Ipadtext, .main__body-Ipadtext2{
                height: 208;
                overflow-x: hidden;
                overflow-y: hidden;
                margin-left: 24px;
                margin-top: 0;
                white-space: pre-line;
                font-family: "TT Lakes Neue Trial";
                font-size: 14px;
                line-height: 18px;
                letter-spacing: 0.20000000298023224px;
                color:  $titleColor;
            }
            .main__body-reed-Ipadcontainer{
                display: flex;
                width: 132px;
                height: 24px;
                top: 426px;
                margin-left: 25px;
                .main__body-reedMoore-Ipadtext{
                margin: 0;
                font-family: "TT Lakes Neue Trial";
                font-size: 14px;
                font-weight: 700;
                line-height: 24px;
                letter-spacing: -0.20000000298023224px;
                margin-left: 20px;
            }
            }
        }
    }

    .main__body-brend-desk-textContain{
        display: none;
    }
        .main__body-Ipad-logoPicture{
            width: 340px;
            height: 208px;
            border-radius: 20px;
            
        }
        .main__body-brendText-Ipadcontainer{
        width: 100%;
        height: 100%; 
        background: $linearGradient;
        display: flex;
        margin-top: 36px;

        .main__body-brend-Ipadtext{
            font-family: "TT Lakes Neue Trial";
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.20000000298023224px;
            text-align: left;
            color: $swiperColor;
            text-transform: uppercase;
            margin-left: 24px;
        }
        }
//  №№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№ swiper  - 2 ###################################################
        .swiper-container{
            width: 100%;
            .telehponSlid{
                display: none;
            }

            .swiperIpad{
                // width: 100%;
                display: grid;
                justify-content: center;
                grid-template-columns: repeat(3, 224px);
                grid-template-rows: repeat(2, 1fr);
                gap: 8px;
                margin-left: 0;
                margin-right: 0;
                margin-top: -20px;
            .swiper-slide { 
            
                &.slide-type2{
                flex: none;
                width: 224px !important;
                height: 72px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 25px;
                border-radius: 6px;
                border: $slideType2Border;
                background-color: $backgColor;
            }
            }
            
            
            .main_container-iconLogo{
                margin-left: 30px;
            }
            
            .main_container-iconGo{
                margin-right: 20px;
            }
            }
            .main__body-reed-showContainer{
                display: flex;
                align-items: center;
                width: 133px;
                height: 24px;
                margin-top: 36px;
                margin-left: 48px;
                
                .main__body-reed-text{
                    font-family: "TT Lakes Neue Trial";
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 24px;
                    letter-spacing: -0.20000000298023224px;
                    text-align: left;
                    margin-left: 12px;
                }
            }

            .swiper-pagination2{
                display: none !important;
            }
        }
        .main__body-brendText-container2{
            display: none;
        }
        
        .main__body-brendText-ipadContainer2{
            width: 100%;
            height: 100%;
            display: flex;
            margin-top: 36px;
        background: $linearGradient;
    
        
            .main__body-brend-text{
                font-family: "TT Lakes Neue Trial";
                font-size: 16px;
                line-height: 24px;
                letter-spacing: -0.20000000298023224px;
                text-align: left;
                margin-left: 24px;
                color:  $swiperColor;
                text-transform: uppercase;
            }
}


//  ################################################### swiper  - 3 ####################################################

.swiper-slide.slide-type3 {
    display: none; 
}

.swiper-slide.slide-type3.ipad {
    width: 224px !important;
    height: 160px !important;
    margin-left: 36px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background:$backgColor;
    border: $slideType2Border;
    border-radius: 6px;
}

.swiper-slide.slide-type3.ipad .slide-type3-text {
    font-family: "TT Lakes Neue Trial";
    font-size: 16px;
    margin-left: 16px;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    margin-right: 40px;
    margin-bottom: 65px;
    color:  $titleColor;
}

.swiper-slide.slide-type3.ipad .slide-type3-icon {
    width: 40px;
    height: 40px;
    margin-left: 165px;
    margin-bottom: 25px;
}

.swiper-container .mySwiper3 .swiper-pagination3{
    display: none !important;
}

.main__body-reed-showContainer2Ipad{
    display: flex;
    align-items: center;
    width: 140px;
    height: 35px;
    border: none;
    border-radius: 5px;
    margin-left: 48px;
    margin-top: 30px;
    p{
        margin-left: 10px;
        font-family: "TT Lakes Neue Trial";
        font-weight: 500;
        font-size: 17px;
    }
    pointer-events: none;
}

.main__body-reed-showContainer2{
    display: none;
}

.swiper-slide-slide-type3-ipadText{
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 36px;
    margin-left: 14px;
    background: $linearGradient;


p{
    font-family: "TT Lakes Neue Trial";
font-size: 16px;
line-height: 24px;
letter-spacing: -0.20000000298023224px;
text-align: left;
text-transform: uppercase;
margin-left: 24px;
color: $swiperColor;

}
}


// №№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№ swiper 4 ###############################################


.mySwiper4{
display: none;
}
.main__body-ipadFooter{
width: 100%;
height: 100%;
margin: 0;

.main__body-ipadFooterTitle {
    font-family: "TT Lakes Neue Trial";
    padding-top: 20px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: $swiperColor;
    margin-left: 37px;
    display: grid;
    grid-template-rows: repeat(1, auto);
    grid-template-columns: repeat(3, 265px);

    .ipadFooter-form-srok{
        margin-left: -72px;
    }
    .ipadFooter-form-price{
        margin-left: 57px;
    }
}

.main__body-ipadFooter-form {
    width:auto;
    background:  $backgColor;
    display: grid;
    grid-template-rows: repeat(5, auto);
    grid-template-columns: repeat(4, auto);
    margin: 20px;
    margin-left: 24px;
    font-size: 14px;

    img{
        width: 100px;
        height: 29px;
    }
    .ipadFooter-form-price1{
        margin-left: 170px;
    }

    .ipadFooter-form-price2{
        margin-left: 135px;
    }
    .ipadFooter-form-price3{
        margin-left: 14px;
    }
    .ipadFooter-form-price4{
        margin-left: -75px;
        
    }
    .ipadFooter-form-price5{
        margin-left: 14px;
    }
    .ipadFooter-form-srok1{
        margin-right: +39px;
    }
}

.main__body-ipadFooter-form p {
    grid-column: span 4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    color:  $titleColor;
    font-family: "TT Lakes Neue Trial";
    font-size: 13px;
}


.line {
    width: 100%;
    height: 1px;
    background-color: $line1;
    grid-column: 1 / -1;
}
.main__body-ipadFooter-text{
    .main__body-ipadFooter-text1{
        font-family: "TT Lakes Neue Trial";
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.20000000298023224px;
        text-align: left;
        color:  $titleColor;
        margin-left: 24px;
        margin-top: 25px;
}
.main__body-ipadFooter-text2{
    color:  $titleColor;
    font-family: "TT Lakes Neue Trial";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
    font-weight: 600;
    display: flex;
    margin-left: 24px;
}

.line1{
    width: 100%;
    height: 1px;
    background-color:   $line;
    grid-column: 1 / -1;
    margin-top: 50px;}

.main__body-ipadFooter-containerTwo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    margin-top: 35px;
    margin-left: 24px;
    p{
        white-space:nowrap;
        font-size: 14px;
        color: $swiperColor;
        margin: 0;
    }
}
.main__body-ipadFooter-containerTwo:last-child{
    text-align: end;
    margin-right: 15px;
}
.main__body-ipadFooter-containerTwo-first-child{
    text-align:start;
  }
.main__body-DeskFooter-containerTwo-last-child{
display: none;
}
}
}

.main__body-footer{
    display: none;
}
}
